<a href="https://colab.research.google.com/github/sakuragav/CIS350/blob/Assignments/CIS352Midterm1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the data set as a pandas Dataframe. \
Compute the mean annual mileage for the different driving experience groups.\
\
Based on part (ii), do the mean for different groups in the “driving experience” vary too widely? Justify. \
\
Compute the mean credit score for each income group. \
\
Based on part (iv), do the mean credit scores for each group differ widely? Justify.\
\
Group the data by “outcome” and then calculate the mean “annual mileage”
for each group. Make sure to include your code and output.

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/siglimumuni/Datasets/master/customer-data.csv"
customer = pd.read_csv(url)
customer_df = pd.DataFrame(customer)
customer_df.head()

,id,age,gender,race,driving_experience,education,income,credit_score,vehicle_ownership,vehicle_year,married,children,postal_code,annual_mileage,vehicle_type,speeding_violations,DUIs,past_accidents,outcome
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,True,after 2015,False,True,10238,12000.0,sedan,0,0,0,False
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,False,before 2015,False,False,10238,16000.0,sedan,0,0,0,True
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,True,before 2015,False,False,10238,11000.0,sedan,0,0,0,False
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,True,before 2015,False,True,32765,11000.0,sedan,0,0,0,False
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,True,before 2015,False,False,32765,12000.0,sedan,2,0,1,True

In [ ]:
from numpy import median, mean
customer_df.groupby(['driving_experience']).mean(['annual_mileage'])

,id,credit_score,vehicle_ownership,married,children,postal_code,annual_mileage,speeding_violations,DUIs,past_accidents,outcome
driving_experience,,,,,,,,,,,
0-9y,496940.238244,0.463657,0.591218,0.354674,0.545609,19701.781586,12249.131670,0.000000,0.000000,0.000000,0.628045
10-19y,504158.957563,0.512155,0.694453,0.481661,0.680206,19694.941801,11791.275168,1.316460,0.220976,0.959685,0.238557
20-29y,501271.497404,0.566321,0.798018,0.636149,0.830580,20636.537046,11144.181256,2.734309,0.455403,1.966022,0.051439
30y+,499624.831749,0.599876,0.856464,0.753802,0.910646,19387.604563,10694.968553,4.460076,0.663498,3.071293,0.019011